/* ---------------------------- product card */
.us-refresh-pricing-base__price__main {
  .elite-text-svg {
    top: -1px;
  }
  .base__price_container {
    color: #818898;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px 0;
  }
  .base__price_label {
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
  }
  .club__price_container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    line-height: 22px;
    color: #E1251C;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .elite__non_container {
    font-size: 10px;
    display: flex;
    gap: 5px;
    color: #031546;
  }
  .elite__gold {
    font-size: 10px;
    color: #D5A03A;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.us-refresh-pricing-club__price__main {
  .club__price_container {
    font-size: 20px;
    line-height: 22px;
    color: #E1251C;
    font-weight: 600;
    margin-bottom: 5px;
    .cp {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .club__lable {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }
  .elite__non_container {
    background: #FDF6AF80;
    border-radius: 6px;
    padding: 4px 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: max-content;
    .elite__non_label {
      color: #031546;
      font-size: 16px;
      line-height: 22px;
      font-weight: 800;
    }
    .elite__gold {
      display: flex;
      gap: 5px;
      align-items: end;
      font-size: 10px;
      color: #D5A03A;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
.us-refresh-pricing-elite__price__main {
  .elite__price_container {
    .elite__label {
      color: #031546;
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
    }
    .elite__gold {
      display: flex;
      gap: 5px;
      align-items: end;
      font-size: 10px;
      color: #D5A03A;
      font-weight: 600;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }
}

/* ------------------------------ main pdp */
.us-refresh-pricing-base__price__main-pdp {
  .base__price_container {
    color: #818898;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px 0;
  }
  .club__price_container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    line-height: 30px;
    color: #E1251C;
    font-weight: 600;
    margin-bottom: 4px;
    .club__label {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }
  .elite__non_container {
    margin-top: 13px;
    color: #031546;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
    .elite__gold {
      color: #D5A03A;
      text-transform: uppercase;
    }
  }
  .club__elite_saving {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 14px;
    font-weight: 800;
    color: #18703d;
    border-radius: 3px;
    padding: 6px 8px;
    background: #d6f8e5;
    max-width: 400px;
    button {
      text-decoration: underline;
      padding: 0;
      height: auto;
      line-height: 1;
    }
  }
  .us-popup-button {
    padding: 0;
    height: auto;
    line-height: 1;
  }
}
.us-refresh-pricing-club__price__main-pdp {
  .club__price_container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    line-height: 30px;
    color: #E1251C;
    font-weight: 600;
    margin-bottom: 4px;
    .club__label {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  .club__elite_saving {
    font-size: 12px;
    line-height: 14px;
    font-weight: 800;
    color: #18703d;
    border-radius: 3px;
    padding: 6px 8px;
    background: #d6f8e5;
    max-width: 400px;
    button {
      text-decoration: underline;
      padding: 0;
      height: auto;
      line-height: 1;
    }
  }
  .elite__non_container {
    background: #FDF6AF80;
    max-width: 350px;
    padding: 7px 8px;
    border-radius: 4px;
    margin-top: 12px;
  }
  .elite__non_container_inner {
    display: flex;
    align-items: center;
    gap: 5px;
    .elite-text-svg path {
      fill: #031546;
    }
  }
  .elite__label {
    color: #031546;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
  .elite__blue {
    display: flex;
    align-items: center;
    color: #031546;
    font-size: 11px;
    font-weight: 600;
    gap: 5px;
    .elite-text-svg {
      top: 0;
    }
  }
  .elite-lock svg {
    width: 14px;
    height: 13px;
  }
  .elite__fd {
    display: flex;
    align-items: center;
    color: #031546;
    font-size: 10px;
    font-weight: 600;
    gap: 5px;
  }
  .elite__gold_main {
    color: #D5A03A;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
  }
}
.us-refresh-pricing-elite__price__main-pdp {
  .elite__price_container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    line-height: 30px;
    color: #031546;
    font-weight: 700;
    margin-bottom: 4px;
    .elite__label {
      font-size: 13px;
      line-height: 22px;
      font-weight: 800;
      color: #D5A03A;
    }
  }
  .club__elite_saving {
    font-size: 12px;
    line-height: 14px;
    font-weight: 800;
    color: #18703d;
    border-radius: 3px;
    padding: 6px 8px;
    background: #d6f8e5;
    max-width: 400px;
    button {
      text-decoration: underline;
      padding: 0;
      height: auto;
      line-height: 1;
    }
  }
  .elite__fd_container {
    .elite__non_container_inner {
      font-size: 10px;
      line-height: 12px;
      color: #2D2E34;
      margin-top: 10px;
    }
  }
  .elite__fd {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
elite-icon-nm {
  cursor: pointer;
}
.pdpclubpopupbtn {
  svg path {
    fill: #18703d;
  }
}
.pdpclubpopupicon {
  img {
    margin: 0 auto 10px auto;
  }
  .popupcontent {
    color: #2D2E34;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin: 10px 5px 15px;
    i {
      font-style: normal;
      color: #E1251C;
    }
  }
  ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    li {
      margin-bottom: 5px;
      color:#818898;
      font-size:16px;
      line-height:20px;
      letter-spacing:-1px;
      svg {
        display: inline-block;
        position: relative;
        top: -1px;
      }
      i {
        font-style: normal;
        color: #2D2E34;
      }
    }
  }
  .grn-txt {
    color: #23A259;
    font-size: 14px;
    line-height: 18px;
  }
}
.pdpelitepopupicon {
  .drawer__content {
    background: #031546;
  }
  button {
    color: #000000;
    background: #fff;
  }
  img {
    margin: 0 auto 10px auto;
    max-width: 150px;
  }
  .popupcontent {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 10px 5px 15px;

    i {
      font-style: normal;
      color: #FFD600;
    }
  }
  .grn-txt {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
}
.club__elite_saving {
  svg {
    width: 18px;
    height: 18px;
  }
}




/*! modal */
.x-modal .overlay {
  background: rgb(var(--color-overlay)/ 0.7);
}
.x-modal .drawer__scrollable>* {
  padding-block-end: var(--sp-9)
}
.x-modal .drawer__scrollable>:last-child {
  padding-block-end: 0
}
@media screen and (min-width: 640px) {
  .x-modal:not([hidden]) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .x-modal .drawer__header {
    border-block-end: 0;
    padding-block-end: 0;
  }
  .x-modal .drawer__inner {
    position: static;
    height: auto;
    max-height: 90vh;
    max-width: 60rem;
    margin-inline: var(--gap-padding);
    transform: scale(0.8);
    opacity: 0;
    border-radius: var(--rounded-block);
  }
  .x-modal[active]>.drawer__inner {
    opacity: 1;
    transform: scale(1);
  }
  .loaded .x-modal .drawer__inner {
    transition-property: transform, opacity;
  }
}
@media (prefers-reduced-motion: reduce) {
  .x-modal .drawer__inner {
    transform: scale(1);
  }
}
.x-modal table {
  width: 100%;
  table-layout: fixed;
}
