/* Login/Register */
.login .section__wrapper,
.register .section__wrapper,
.activate .section__wrapper,
.reset-password .section__wrapper {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.login p,
.register p,
.activate p,
.reset-password p {
  margin: 1.2rem 0 0;
}
.login .form-field + a,
.register .form-field + a,
.activate .form-field + a,
.reset-password .form-field + a {
  margin-top: 0.8rem;
}
.login form,
.register form,
.activate form,
.reset-password form {
  margin: 2.4rem 0 0;
}
.login form button,
.login form .btn--secondary,
.register form button,
.register form .btn--secondary,
.activate form button,
.activate form .btn--secondary,
.reset-password form button,
.reset-password form .btn--secondary {
  margin-top: 2.4rem;
}
.login form button + a,
.login form .btn--secondary + a,
.register form button + a,
.register form .btn--secondary + a,
.activate form button + a,
.activate form .btn--secondary + a,
.reset-password form button + a,
.reset-password form .btn--secondary + a {
  margin-top: 1.6rem;
}
.login form button + button,
.login form .btn--secondary + button,
.register form button + button,
.register form .btn--secondary + button,
.activate form button + button,
.activate form .btn--secondary + button,
.reset-password form button + button,
.reset-password form .btn--secondary + button {
  margin-top: 1.6rem;
}
@media (max-width: 767.98px) {
  .login form,
  .register form,
  .activate form,
  .reset-password form {
    margin-top: 2rem;
  }
  .login form button,
  .register form button,
  .activate form button,
  .reset-password form button {
    margin-top: 2rem;
  }
}

#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}

.customer__header {
  margin-bottom: 4rem;
  .btn--outline:before {
    z-index: -1;
  }
}
@media (max-width: 767.98px) {
  .customer__header {
    margin-bottom: 3.2rem;
  }
}
.customer__body {
  display: flex;
  gap: 3.2rem;
}
.customer__sidebar {
  flex: 0 0 32rem;
  align-self: self-start;
}
.customer__sidebar p {
  color: rgba(var(--color-subtext), var(--color-subtext-alpha, 1));
  margin: 0;
}
.customer__widget {
  padding: 2.4rem;
  background-color: rgb(var(--color-secondary-background));
}
.customer__content {
  flex: 1;
  .default_address p {
    margin: 0;
  }
}
.customer .rich-text {
  margin-bottom: 2.4rem;
}
@media (max-width: 767.98px) {
  .customer .rich-text {
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1023.98px) {
  .customer__body {
    flex-direction: column;
  }
  .customer__sidebar {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

/* Account */
/* Order */
.order-total-amount {
  margin-top: 2.4rem;
}
.order-total-amount li + li {
  margin-top: 0.8rem;
}

/* Address */
.addresses .section__wrapper {
  width: 100%;
  max-width: 79rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.addresses [data-address] {
  padding: 2.4rem 3.2rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 767.98px) {
  .addresses [data-address] {
    padding: 1.6rem;
    margin-bottom: 1.2rem;
  }
}
.addresses__edit-form {
  margin-top: 2.4rem;
  padding-top: 2.4rem;
  border-top: 1px solid rgba(var(--color-border), var(--color-border-alpha, 1));
}

.address-info__default-badge {
  margin-bottom: 16px;
  font-size: 30px;
  display: inline-block;
  line-height: 1;
}
.address-info p {
  margin: 0;
}
.address-info button {
  padding: 0;
  height: auto;
  line-height: normal;
}

/* ----------------------- New Customer Account CSS ----------------------- */

.customer.account {
  position: relative;
}
.cc-mm-account-header {
  &#cc-mm-account-header-elite {
    background: #031546;
    .cc-mm-account-header-inner {
      background: #1c355e;
    }
    h2 {
      text-transform: capitalize;
    }
    h2,
    h2 + p {
      color: #d5a03a;
    }
  }
  margin-bottom: 40px;
  background: #7ec243;
  width: 100%;
  text-align: center;
  padding: 50px 0 30px;
  color: #fff;
  p {
    color: #fff;
    margin: 20px 0;
  }
  h2 {
    color: #fff;
  }
  .cc-mm-account-header-inner {
    background-color: #b52e27;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    p {
      margin: 0;
    }
  }
}
.cc-elite-button {
  border-radius: var(--corner-radius-extra-large, 32px);
  background: var(--Golden-Surface, linear-gradient(118deg, #ab7917 8.15%, #ffdf6e 50%, #ab7917 91.85%));
  box-shadow: 0 1px 2px #0d0d120f;
  padding: 12px 16px;
  color: var(--Color-Elite-Blue-500, #1c355e);
  text-align: center;
  font-size: var(--Type-text-s, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
}
.account.section::before {
  display: none;
}
.logout-btn {
  position: absolute;
  top: 0px;
  right: -10px;
  transform: scale(0.7);
  &:before {
    z-index: -1;
  }
  .btn-text {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
sticky-element {
  .btn-text {
    justify-content: start;
    gap: 10px;
  }
}
.side_bar_icons a {
  display: block;
  margin-bottom: 15px;
  .btn-text {
    display: flex;
    align-items: center;
  }
}
.customer__sidebar {
  background-color: #17171706;
  padding: 30px 48px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .customer__sidebar {
    padding: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .customer__sidebar {
    width: 100%;
    padding-inline: 30px;
    max-width: 340px;
  }
}

table.order-history {
  overflow: hidden;
  box-shadow: 0 0 0 1px #1717170f;
  border-radius: 20px;
  thead th {
    font-weight: 500;
    background-color: #17171706;
  }
  th,
  td {
    width: auto;
    text-align: start;
    line-height: 1.6;
    font-size: 18px;
    padding: 18px 30px;
  }
  tbody tr,
  tfoot tr:first-child {
    border-block-start: 1px solid #1717170f;
  }
  [data-label="Order"] a {
    text-decoration: underline;
  }
}

.addresses {
  .customer__title {
    font-size: 32px;
  }
  .customer__header_top {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .address-grid {
    grid: auto-flow dense / repeat(1, minmax(0, 1fr));    
    gap: 24px;
  }
  @media screen and (min-width: 768px) {
    .address-grid {
      grid: auto-flow dense / repeat(2, minmax(0, 1fr));
    }
    .customer__title {
      font-size: 60px;
    }
  }
  @media screen and (min-width: 1024px) {
    .address-grid {
      grid: auto-flow dense / repeat(3, minmax(0, 1fr));
    }
    .customer__title {
      font-size: 100px;
    }
  }
  @media screen and (min-width: 1280px) {
    .address-grid {
      grid: auto-flow dense / repeat(4, minmax(0, 1fr));
    }
  }
}